<div class="w-screen text-white">
  <div class="absolute h-screen w-full opacity-65">
    <img src="../../assets/main.webp" alt="background" />
  </div>
  <div class="flex p-4 items-center absolute w-full bg-black opacity-45 z-10">
    <a href="home"> <h2 class="text-2xl font-bold">HALT-O</h2></a>
    <ul class="flex gap-8 ml-auto">
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="home#application">Application</a></li>
      <li><a href="home#park">ParkingEcosystem</a></li>
      <li><a href="home#contact">Contact</a></li>
    </ul>
  </div>
  <div
    class="relative h-screen flex flex-col justify-center items-center w-full gap-6"
  >
    <h1 class="text-7xl">The Complete Parking Ecosystem</h1>
    <h3 class="text-4xl">
      Say goodbye to parking headaches and hello to Halt-O !
    </h3>
  </div>
</div>
<div class="w-screen p-24 flex flex-col gap-6">
  <div class="flex flex-col w-[500px] text-white">
    <h3 class="text-3xl">We’re just getting started</h3>
    <p class="text-xl">
      Get ready to witness some amazing accomplishments and the best is yet to
      come.
    </p>
  </div>
  <hr class="border-2" />
  <img src="../../assets/team.webp" alt="team" class="w-2/4 mx-auto" />
</div>

<div class="w-screen p-24 flex gap-6 bg-white justify-between items-center">
  <div class="w-2/5">
    <img src="../../assets/India.png" alt="road" class="" />
  </div>
  <div
    class="w-2/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4"
  >
    <h3>VISION:</h3>
    <h4 class="text-2xl">We take care the parking woes</h4>
    <p>
      The vision of Halt-O is to create a world where parking is no longer a
      hassle or a source of stress for drivers, and where parking lot operators
      can maximize the use of their resources while reducing their environmental
      impact
    </p>
    <a href="about#vission">
      <button
        class="border-2 border-black rounded-lg w-fit mx-auto px-3 py-1 hover:text-white hover:bg-black"
      >
        Read More
      </button></a
    >
  </div>
</div>
<div class="w-screen p-24 flex gap-6 justify-between items-center">
  <div
    class="w-2/5 text-white h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4"
  >
    <h3>MISSION:</h3>
    <h4 class="text-2xl">
      Our mission is to provide a seamless, efficient, and convenient parking
      experience for both parking lot operators and drivers
    </h4>
    <p>
      Making parking more accessible by providing real-time information about
      available parking spots and enabling drivers to reserve and pay for
      parking in advance.
    </p>
    <a href="about#mission">
      <button
        class="border-2 border-white rounded-lg w-fit mx-auto px-3 py-1 hover:text-black hover:bg-white"
      >
        Read More
      </button></a
    >
  </div>
  <div class="w-2/5">
    <img src="../../assets/road.jpg" alt="road" class="" />
  </div>
</div>
<div
  class="w-screen p-24 flex gap-6 bg-white justify-between items-center"
  id="application"
>
  <div class="w-2/5">
    <img src="../../assets/mobile.webp" alt="road" class="" />
  </div>
  <div
    class="w-2/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4"
  >
    <h3>APPLICATION:</h3>
    <h4 class="text-2xl">Halt-O Mobile Application</h4>
    <p>
      Plan, Park & Pay Halt-O app is available for download on both Android and
      IOS and offers a host of features to help you find the perfect spot,
      including real-time parking availability and information on amenities in
      the lot. And with our live CCTV access, you can even keep an eye on your
      vehicle while you're away. Say goodbye to parking headaches and hello to
      Halt-O!
    </p>
    <a href="application">
      <button
        class="border-2 border-black rounded-lg w-fit mx-auto px-3 py-1 hover:text-white hover:bg-black"
      >
        Read More
      </button></a
    >
  </div>
</div>
<div class="w-screen p-24 flex gap-6 justify-between items-center" id="park">
  <div
    class="w-2/5 text-white h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4"
  >
    <h3>TRUCK PARKING ECOSYSTEM:</h3>
    <h4 class="text-2xl">REINVENT THE PARKING EXPERIENCE</h4>
    <p>
      Every year 4 lakh new trucks getting into the logistics market seeking for
      parking space. The estimated value of the goods carried by the trucks on
      Indian roads is $ 200Bn. Over 57,000 truck crashes and 15,000 drivers are
      killed on road accidents every year. Truck drivers often have to try
      several lots before they can find somewhere to park. The result is
      frustration, fatigue, improper sleep, robbery, insecurity over vehicle
      protection.
    </p>
    <a href="parking-eco">
      <button
        class="border-2 border-white rounded-lg w-fit mx-auto px-3 py-1 hover:text-black hover:bg-white"
      >
        Read More
      </button></a
    >
  </div>
  <div class="w-2/5">
    <img src="../../assets/truck.jpg" alt="road" class="" />
  </div>
</div>
<div class="w-screen p-24 flex gap-6 bg-white justify-between items-center">
  <div class="w-2/5">
    <img src="../../assets/plasticbag" alt="road" class="" />
  </div>
  <div
    class="w-2/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4"
  >
    <h3>Recycling :</h3>
    <p>
      Our Parking areas are equipped with a sustainable approach where we
      utilize recycled plastics for various purposes. As part of our
      environmental commitment, we incorporate the use o recycled plastics in
      our package lot infrastructure.
    </p>
    <p>
      The roads/flooring in our parking are recycled plastics and polyesters.
      The recycling process:
    </p>
    <ul class="list-disc ml-4">
      <li>We shred them into small pieces</li>
      <li>Adding heated blue metal</li>
      <li>Melting with the brick jelly</li>
      <li>Adding Bitumen</li>
      <li>Laying the Road</li>
    </ul>
    <p>
      By utilizing recycled plastics in our parking lot, we aim to reduce waste
      and promote a circular economy.
    </p>
  </div>
</div>
<div class="w-screen p-24 flex gap-6 justify-between items-center">
  <div
    class="w-2/5 text-white h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4"
  >
    <h3>AMENITIES:</h3>
    <h4 class="text-2xl">
      Our parking ecosystem offers a range of amenities to ensure your parking
      experience is stress-free and convenient.
    </h4>
  </div>
  <div class="w-2/5 grid grid-cols-3 justify-center items-center text-white">
    <div class="flex flex-col items-center">
      <img src="../../assets/cafeterias.webp" alt="road" class="size-32" />
      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/Dormen.webp" alt="road" class="size-32" />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/Toilet.webp" alt="road" class="size-32" />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/Mech.webp" alt="road" class="size-32" />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/CCTV.webp" alt="road" class="size-32" />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img src="../../assets/Solar.webp" alt="road" class="size-32" />
      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center col-span-3">
      <img src="../../assets/Locker.webp" alt="road" class="size-32" />
      <p>Cafeterias</p>
    </div>
  </div>
</div>

<div class="flex items-center mx-24 my-6 border-2 rounded-lg" id="contact">
  <form class="flex flex-col items-center gap-3 w-2/5 p-12 text-black bg-white">
    <div class="flex gap-3 w-full">
      <div class="flex flex-col w-full">
        <label>FirstName*</label>
        <input type="text" class="border-2" />
      </div>
      <div class="flex flex-col w-full">
        <label>LastName</label>
        <input type="text" class="border-2" />
      </div>
    </div>

    <div class="flex flex-col w-full">
      <label>Email*</label>
      <input type="email" class="border-2" />
    </div>
    <div class="flex flex-col w-full">
      <label>Message*</label>
      <textarea rows="4" class="border-2"></textarea>
    </div>
    <button
      class="border-2 bg-red-700 border-red-700 hover:text-red-700 hover:bg-white font-semibold rounded-lg px-3 py-1 text-white"
    >
      Send
    </button>
  </form>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3678204307885!2d80.24004901132409!3d12.948299387312199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d3e49715fa1%3A0x94fe3a96888fa164!2sHALT-O!5e0!3m2!1sen!2sin!4v1714538169098!5m2!1sen!2sin"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-screen h-96 rounded-md p-3"
  ></iframe>
</div>
<div
  class="grid grid-cols-4 justify-around items-center border-t-2 p-12 text-white"
>
  <h3 class="text-5xl font-bold">HALT-O</h3>
  <div class="flex flex-col items-center">
    <h5 class="text-xl">Address :</h5>
    <p>
      No.23 B F1, PVS Nagar, Shanthiniketan Layout, Thuraipakkam, Chennai, Tamil
      Nadu - 600097
    </p>
  </div>
  <div class="flex flex-col items-center gap-3">
    <div class="flex items-center">
      <h5 class="text-xl">Call:</h5>
      <p>+91 44480 61391</p>
    </div>
    <div class="flex items-center">
      <h5 class="text-xl">E-mail:</h5>
      <p>contacthalt-o.com</p>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <h5 class="text-xl">Follow :</h5>
    <p>icons</p>
  </div>
</div>
