<div class="bg-white">
  <div class="flex p-4 items-center">
    <a href="home"> <h2 class="text-2xl font-bold">HALT-O</h2></a>
    <ul class="flex gap-8 ml-auto">
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="home#application">Application</a></li>
      <li><a href="home#park">ParkingEcosystem</a></li>
      <li><a href="parking-eco#contact">Contact</a></li>
    </ul>
  </div>
  <div class="w-[900px] mx-auto bg-white flex flex-col gap-6 p-6">
    <h3 class="font-bold text-5xl">TRUCK PARKING ECOSYSTEM</h3>
    <p>
      Every year 4 lakh new trucks getting into the logistics market seeking for
      parking space. The estimated value of the goods carried by the trucks on
      Indian roads is $ 200Bn. Over 57,000 truck crashes and 15,000 drivers are
      killed on road accidents every year. Truck drivers often have to try
      several lots before they can find somewhere to park. The result is
      frustration, fatigue, improper sleep, robbery, insecurity over vehicle
      protection.
    </p>
    <p>
      Halt-O truck parking ecosystem reduces truck drivers’ job-related risks in
      several ways. It not only makes finding a parking space easy, but also
      dissuade robbers from stealing the freight.
    </p>
    <h5 class="font-semibold text-xl">Halt-O truck parking ecosystem</h5>
    <p>
      Interconnected system of resources and services available for truck
      drivers to park their vehicles during long trips. This ecosystem includes
      truck stops, rest areas, private parking lots, and other parking
      facilities, as well as the technologies and services that support them,
      such as truck parking reservation systems, parking information management
      systems, and parking space prediction systems.
    </p>
    <p>
      One major challenge in the truck parking ecosystem is the shortage of safe
      and convenient parking options for truck drivers, which can lead to
      truckers parking on the side of the road, causing hazards for other
      drivers. To address this issue, Halt-O is offering advanced amenities such
      as showers, fuel, and food services, to improve the overall trucking
      experience.
    </p>

    <p>
      Additionally, the development of new technologies, such as real-time
      parking availability information systems, parking reservation systems, and
      predictive parking algorithms, to truckers/drivers to more efficiently
      plan their trips and find suitable parking options along the way. Also
      improving the overall management and utilization of truck parking
      resources, reducing congestion and improving safety for everyone on the
      road.
    </p>
    <p>
      Overall, the truck parking ecosystem is constantly evolving, driven by the
      need to meet the increasing demands of the trucking industry and improve
      the safety and convenience of truck drivers on the road.
    </p>
  </div>
  <div class="flex items-center mx-24 my-6 border-2 rounded-lg" id="contact">
    <form class="flex flex-col items-center gap-3 w-2/5 text-black p-12">
      <div class="flex gap-3 w-full">
        <div class="flex flex-col w-full">
          <label>FirstName*</label>
          <input type="text" class="border-2" />
        </div>
        <div class="flex flex-col w-full">
          <label>LastName</label>
          <input type="text" class="border-2" />
        </div>
      </div>

      <div class="flex flex-col w-full">
        <label>Email*</label>
        <input type="email" class="border-2" />
      </div>
      <div class="flex flex-col w-full">
        <label>Message*</label>
        <textarea rows="4" class="border-2"></textarea>
      </div>
      <button
        class="border-2 bg-red-700 border-red-700 hover:text-red-700 hover:bg-white font-semibold rounded-lg px-3 py-1 text-white"
      >
        Send
      </button>
    </form>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3678204307885!2d80.24004901132409!3d12.948299387312199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d3e49715fa1%3A0x94fe3a96888fa164!2sHALT-O!5e0!3m2!1sen!2sin!4v1714538169098!5m2!1sen!2sin"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="w-screen h-96 rounded-md p-3"
    ></iframe>
  </div>
  <div class="grid grid-cols-4 justify-around items-center border-t-2 p-12">
    <h3 class="text-5xl font-bold">HALT-O</h3>
    <div class="flex flex-col items-center">
      <h5 class="text-xl">Address :</h5>
      <p>
        No.23 B F1, PVS Nagar, Shanthiniketan Layout, Thuraipakkam, Chennai,
        Tamil Nadu - 600097
      </p>
    </div>
    <div class="flex flex-col items-center gap-3">
      <div class="flex items-center">
        <h5 class="text-xl">Call:</h5>
        <p>+91 44480 61391</p>
      </div>
      <div class="flex items-center">
        <h5 class="text-xl">E-mail:</h5>
        <p>contacthalt-o.com</p>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <h5 class="text-xl">Follow :</h5>
      <p>icons</p>
    </div>
  </div>
</div>
